.hero-section{

    img{
        width: 100%;
        position: relative;
        top: 0;
        z-index: 0;

        &.hero-img-mobile{
            visibility: visible;
            display: block;
        }

        &.hero-img-desktop{
            display: none;
        }

        @media screen and (min-width:800px) {
            &.hero-img-mobile{
                display: none;
            }

            &.hero-img-desktop{
                visibility: visible;
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }


    .hero-section-text{
        position: absolute;
        width: 60%;
        top: 50%;
        left: 10%;
        color: white;
        text-transform: uppercase;
        padding: 1.5rem 2rem;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 300;
        font-size: 45px;

        &::before{
            content: "";
            border: 1px solid white;
            width: 100%;
            padding: 1.5rem;
            height: 75%;
            position: absolute;
            top: 0;
            left: 0;
        }

        @media screen and (min-width:800px) {
            width: 40%;
            top: 35%;
            font-size: 55px;

            &::before{
                width: 90%;
            }
        }
    }
}